@model System.Collections.Generic.List<string>

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}


<ul>
   @foreach (var annotation in Model)
   {
       <li>@annotation</li>
   }

</ul>
